{% extends 'base.html' %}

{% block container %}

<div><h1>Post List</h1></div>

{% for post in posts %}

{% include 'posts/_post.html' %} <!--posts안에있는 _post.html를 포함시키겠다.-->

{% endfor %}

<script>
    const likeButtons = document.querySelectorAll('.like-button')
    likeButtons.forEach(function(button){
        button.addEventListener('click', function(event){
            console.log(event)
            const postId = event.target.dataset.id
            axios.get(`/posts/${postId}/like/`) //동적주소 지정은 백틱
                .then(function(response){
                    // response.data // {linked:true, count: 1}
                    document.querySelector(`#like-count-${postId}`).innerText = response.data.count
                    if (response.data.liked){
                        event.target.classList.remove('far')
                        event.target.classList.add('fas')
                    } else {
                        event.target.classList.remove('fas')
                        event.target.classList.add('far')
                    }
                })
        })
    })
</script>

{% endblock %}