<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--enctype:multipart/form-data (binary 전송 가능)
                application/x-www-form-urlencoded (기본값)-->
    <form action="{% url 'posts:create' %}" method="post" enctype="multipart/form-data">    
    <!--create에 post메소드로 작용-->
        {% csrf_token %} <!--post메소드에선 작성-->
        <input type="text" name="title"/>
        <input type="text" name="content"/>
        <input type="file" name="image" accept="image/*"/>
        <!--accept로 image형식의 파일만 받음, *은 파일 종류 jpg등등-->
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>