<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>
            Yo! {{user.username}} <!--username은 장고가 가지고 있는 기능-->
            <a href="{% url 'accounts:logout' %}">로그아웃</a>
        </h1>
    {% else %}
        <h1>
            <a href="{% url 'accounts:login' %}">로그인</a>
            <a href="{% url 'accounts:signup' %}">회원가입</a>
        </h1>
    {% endif %}
    
    {% block container %}  <!--container는 다른 이름으로 지정 가능-->
    {% endblock %}  <!--동적으로 변하는 부분으로, 보기 편하기 위해서 줄바꿈해뒀음-->
</body>
</html>