<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/receive" method="get">   <!--receive에 액션을 적용-->
        <input type="text" name="name_s"/>    <!--name은 변수의 이름으로 어떤값을 text형식으로 받기 위함-->
        <input type="text" name="message"/> <!--""안의 name과 message는 받는창(receive)의 변수이름-->
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>